@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* #313131 */

:root {
  --animate-delay: 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #313131;
  border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  color: #f5f5f5;
  font-size: 1.6rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  background-color: #131313;
  /* background-color: #111111; */
  /* background-color: #0f0f0f; */
}

.heading-2 {
  padding: 2rem 0 2rem 0;
  font-size: 2rem;
  font-weight: 700;
}
